@{
	ViewData["Title"] = "Layout";
}
<html>
<head>
	<title>Mi Perfil</title>
	<style>

		img{
			width: 200px;
			
		}
		 main {
			 background-color: #01DFD7;
			 height: 650px;
			 font-size: 20px;
		 }
		 hearder{
			 
			 
		 }
		 footer{
			 background-color: CC2EFA;
			 height: 50px;
			 font-size: 20px;
		 }

		
	</style>
</head>
<body>
	<header>
		
	</header>
   <main> 
	@RenderBody()

   </main>
   <footer></footer>
</body>
</html>
